Django==5.0.12
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.3.1
django-environ==0.11.2
psycopg[binary]==3.2.5
redis==5.0.8

celery[redis]==5.4.0
django-celery-beat==2.6.0

django-storages==1.14.4
boto3==1.35.87

qrcode==7.4.2
Pillow==11.1.0

stripe==11.5.0
requests==2.32.3
openpyxl==3.1.5

django-ratelimit==4.1.0
django-filter==24.3

django-anymail==12.0

drf-spectacular==0.27.2
gunicorn==23.0.0
whitenoise==6.7.0

pytest==8.3.4
pytest-django==4.10.0
factory-boy==3.3.1
django-jazzmin==3.0.1
